{% extends 'base.html' %}
{% block conteudo %}
<link rel="stylesheet" href="../static/css/estilos.css">
<!-------------------------------------------------------->
<h2 id="ListaDeTarefas" style="text-align: center;">Lista de tarefas</h2>
<br>
<a id="btnNovaTarefa" href="{{url_for('criar_tarefa')}}" class="btn btn-success">Nova tarefa</a>
<a id="btnExcluirTodas" href="{{url_for('excluir_tarefas')}}" onclick="return confirm('Deseja excluir TODAS as tarefas??')" class="btn btn-danger">Excluir todas</a>
<br><br>

	<table class="table table-bordered table-hover">
		<thead class="table-dark">
			<tr>
			<th style="text-align: center;" scope="col" width="50">Id</th>
			<th style="text-align: center;" scope="col" width="300">Tarefa</th>
			<th style="text-align: center;" scope="col" width="700">Descrição</th>
			<th style="text-align: center;" scope="col" width="170">Ações</th>
			</tr>
	</thead>
	<tbody>
		{% for tarefa in tarefas.items %}
			<tr>
				<td style="text-align: center;">{{tarefa.id}}</td>
				<td>{{tarefa.tarefa}}</td>
				<td>{{tarefa.descricao}}</td>
				<td>
					<a id="btnEditar" href="{{tarefa.id}}/atualiza_tarefa" class="btn btn-secondary">Editar</a>
					<a id="btnExcluir" href="{{tarefa.id}}/remove_tarefa" onclick="return confirm('Deseja excluir essa tarefa??')" class="btn btn-danger btn-xs">Excluir</a>
				</td>
			</tr>
		{% endfor %}
	</tbody>
	</table>
								<!--condicional caso a lista esteja vazia-->
									{% if tarefas.items|length == 0 %}
									<h1 id="listavazia" align="center">Lista vazia</h1>
									<div class="img-container">
										<img src="../static/img/caixa-vazia.png" alt="caixa-vazia">
									</div>
									<footer class="modal-footer"></footer>
									{% endif %}

{% if tarefas.has_prev %}
	<a id="btnPagination" href="{{url_for('listar_tarefas', page=tarefas.prev_num)}}" class="btn btn-secondary btn-sm">Página Anterior</a>
{% else %}
{% endif %}

{% if tarefas.has_next %}
	<a id="btnPagination" href="{{url_for('listar_tarefas', page=tarefas.next_num)}}" class="btn btn-secondary btn-sm">Próxima Página</a>
{% else %}
{% endif %}

{% endblock conteudo %}