{% extends 'base.html' %}
{% block conteudo %}
<link rel="stylesheet" href="../static/css/estilos.css">

<h2 id="AdicionarTarefa" style="text-align: center;">Adicionar nova tarefa</h2>
<br>
{%- for mensagem in get_flashed_messages()  %}
	<div class="alert alert-danger">
		{{mensagem}}
	</div>
{%- endfor %}
<form action="{{url_for('criar_tarefa')}}" method="POST" class="form-control">
	<label>* Tarefa</label>
	<input id="input" class="form-control" type="text" name="tarefa" placeholder="Digite um nome para a tarefa" required>
	<label>Descrição</label>
	<textarea id="textarea" class="form-control" name="descricao"></textarea>
  <br>
	<button id="btnAdicionar" class="btn btn-success">Adicionar</button>
	<a id="btnCancelar" href="{{url_for('listar_tarefas')}}" class="btn btn-danger">Cancelar</a>
</form>
{% endblock conteudo %}	