{% extends 'base.html' %}
{% block conteudo %}

<style>
.titulo {
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color: green;
}
</style>

<h2 class="titulo" style="text-align: center;">Adicionar nova tarefa</h2>
<hr>
{%- for mensagem in get_flashed_messages()  %}
	<div class="alert alert-danger">
		{{mensagem}}
	</div>
{%- endfor %}
<form action="{{url_for('criar_tarefa')}}" method="POST" class="form-control">
	<label>Tarefa*</label>
	<input class="form-control" type="text" name="tarefa" placeholder="Digite um nome para a tarefa" required>
	<label>Descrição</label>
	<input class="form-control" type="text" name="descricao" placeholder="Descrição da tarefa">
  <br>
	<button class="btn btn-success">Adicionar</button>
	<a href="{{url_for('listar_tarefas')}}" class="btn btn-danger">Cancelar</a>
</form>
{% endblock conteudo %}